<div class="img-ctn">
  <div class="image-ctn-style">
    <div class="image" (click)="redirectTo()">
      <div class="img-bg"></div>
    </div>
  </div>
  <div class="image-ctn-style">
    <div class="image" (click)="redirectTo()">
      <div class="img-bg"></div>
    </div>
  </div>
  <div class="image-ctn-style">
    <div class="image" (click)="redirectTo()">
      <div class="img-bg"></div>
    </div>
  </div>
  <div class="image-ctn-style">
    <div class="image" (click)="redirectTo()">
      <div class="img-bg"></div>
    </div>
  </div>
  <div class="image-ctn-style">
    <div class="image" (click)="redirectTo()">
      <div class="img-bg"></div>
    </div>
  </div>
  <div class="image-ctn-style">
    <div class="image" (click)="redirectTo()">
      <div class="img-bg"></div>
    </div>
  </div>
  <div class="image-ctn-style">
    <div class="image" (click)="redirectTo()">
      <div class="img-bg"></div>
    </div>
  </div>
  <div class="image-ctn-style">
    <div class="image" (click)="redirectTo()">
      <div class="img-bg"></div>
    </div>
  </div>
</div>
