<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="row" style="width: 80%; padding-top: 50px;">
    <div fxFlex>
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="image">
          <div class="img-bg"></div>
        </div>
      </div>
      <div style="margin-top: 20px; padding: 20px; text-align: justify; text-indent: 50px;">
        <span>
          Fgdfgdfgdfgdfg dfgdfdbvdf vfdvdf vdfbgfb gbgf bdgb gfbtybrd bdsfgdfgfd gdsfgfdgdfg dsfgds
          dfgsdfg dsfgdsfgfdsg g dfg dsfg g dsfg fdsgdsfg sdfgdsfg dfs gdsf gsd gdsf gsdfgdfsg fdsgsdf
          dgdsfg sdfgfdsgdf gfdsg sdfgdsfger htrh trh trbhtrhtrh trhtrhtr htr htr htrhtr htrs hsrth t
          trhrhrthtrhrth trhrt hrthtr htrh rth rthtrhrt htrh rthtr htr htrhrth rthtr htr hrthtrhrt
          gdfgdfsgsdfh ghgfhjdfjdfhj gjgfjhhrthytj ytjytj ytjtyjry rytjyhjrttrre hrthrtrrtrthrt rthtr
          erhrt rthrer hhhhrtgfdghhr hrjrethdsfhrt hrthrthrthwthtrhrth  trhtrjhtr thtrh rthtrhtrh
        </span>
      </div>
    </div>
    <div fxFlex style="padding-left: 20px;">
      <h1>
        Гофрований стакан
      </h1>
      <mat-form-field style="width: 80%;">
        <mat-select placeholder="Об'єм">
          <mat-option [value]="null">

          </mat-option>
          <mat-option [value]="'110'">
            110
          </mat-option>
          <mat-option [value]="'175'">
            175
          </mat-option>
          <mat-option [value]="'250'">
            250
          </mat-option>
          <mat-option [value]="'300'">
            300
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 80%;">
        <mat-select placeholder="Фасування">
          <mat-option [value]="null">

          </mat-option>
          <mat-option [value]="'ящик'">
            Ящик
          </mat-option>
          <mat-option [value]="'рукав'">
            Рукав
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 80%;">
        <input matInput type="number" placeholder="Кількість" min="1">
      </mat-form-field>
      <button mat-stroked-button>Додати в корзину</button>
    </div>
  </div>
</div>
