<div [formGroup]="form" fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="row" style="width: 80%; padding-top: 50px;" *ngIf="!small">
    <div fxFlex>
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="image">
          <div class="img-bg"></div>
        </div>
      </div>
      <div style="margin-top: 20px; padding: 20px; text-align: justify; text-indent: 50px;">
        <span>
          Як передає кореспондент УНІАН, про це Помпео повідомив журналістам за
          результатами зустрічі глав зовнішньополітичних відомств країн Альянсу та міністрів
          закордонних справ України та Грузії у Брюсселі. Помпео заявив, що Росія продемонструвала
          кричущу зневагу до положень Договору про ліквідацію ракет середньої та малої дальності.
          Серед різних порушень, які Росія здійснювала впродовж багатьох років, держсекретар США,
          зокрема, вказав на розробку і випробування з середини 2000-х років нової ракетної системи
          РФ "Новатор 9М729", яка дозволяє запускати крилаті ракети на надмірні відстані, заборонені
          договором.
        </span>
      </div>
    </div>
    <div fxFlex style="padding-left: 20px;">
      <h1>
        Гофрований стакан
      </h1>
      <mat-form-field style="width: 80%;">
        <mat-select formControlName="size" placeholder="Об'єм">
          <mat-option *ngFor="let size of sizes" [value]="size.price">
            {{ size.size }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 80%;">
        <mat-select formControlName="pack" placeholder="Фасування">
          <mat-option *ngFor="let pack of packs" [value]="pack.number">
            {{ pack.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 80%;">
        <input matInput formControlName="number" type="text" mask="0*" placeholder="Кількість">
      </mat-form-field>
      <div style="margin-bottom: 20px">
        Коштуватиме: {{sum}}
      </div>
      <button mat-stroked-button>Додати в корзину</button>
    </div>
  </div>

  <div fxLayout="row" style="padding-top: 50px;" *ngIf="small">
    <div fxFlex>
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="image">
          <div class="img-bg"></div>
        </div>
      </div>


      <div style="text-align: center">
        <h1>
          Гофрований стакан
        </h1>
        <mat-form-field style="width: 80%;">
          <mat-select formControlName="size" placeholder="Об'єм">
            <mat-option *ngFor="let size of sizes" [value]="size.price">
              {{ size.size }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 80%;">
          <mat-select formControlName="pack" placeholder="Фасування">
            <mat-option *ngFor="let pack of packs" [value]="pack.number">
              {{ pack.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 80%;">
          <input matInput formControlName="number" type="text" mask="0*" placeholder="Кількість">
        </mat-form-field>
        <div style="margin-bottom: 20px">
          Коштуватиме: {{sum}}
        </div>
        <button mat-stroked-button>Додати в корзину</button>
      </div>


      <div style="margin-top: 20px; padding: 20px; text-align: justify; text-indent: 50px;">
        <span>
          Як передає кореспондент УНІАН, про це Помпео повідомив журналістам за
          результатами зустрічі глав зовнішньополітичних відомств країн Альянсу та міністрів
          закордонних справ України та Грузії у Брюсселі. Помпео заявив, що Росія продемонструвала
          кричущу зневагу до положень Договору про ліквідацію ракет середньої та малої дальності.
          Серед різних порушень, які Росія здійснювала впродовж багатьох років, держсекретар США,
          зокрема, вказав на розробку і випробування з середини 2000-х років нової ракетної системи
          РФ "Новатор 9М729", яка дозволяє запускати крилаті ракети на надмірні відстані, заборонені
          договором.
        </span>
      </div>
    </div>
  </div>
</div>
