/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;
}

div.mat-select-content {
  background: rgb(119, 114, 114);
}
span.mat-option-text {
  color: white;
}

